.intro {
    /* margin-top:120px; */
    margin-top: 20px;
}

.pic {
    width: 225px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px auto;
}

.header {
    font-weight: bold;
}