.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    vertical-align: middle;
}

.logo {
    height: 100px;
    width: 100px;
    display: block;
}

.links {
    display: block;
    float: right;
}