.tech {
    background: rgb(255,255,255);
    background: linear-gradient( rgba(255,255,255,1) 15%, rgba(151,206,255,1) 50%, rgba(255,255,255,1) 95%);
}

.techTitle {
    padding: 0px;
    margin-top: 250px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bold;
}

.techIntro {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 300;
}

.descBlock {
    padding: 80px 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descBlock1 {
    /* background-color: aliceblue; */
}

.descBlock2 {
    /* background-color: beige; */
}

.descBlock3 {
    /* background-color: wheat; */
}

.descInfo{
    width: 500px;
    margin: 20px 40px;
}

h1 {
    margin-bottom: 40px;
    font-weight: bold;
}

.logos {
    width:140px;
    height:auto;
    margin: 0px 10px;
    padding: 8px 20px;
}

.descContent {
    font-weight: 200;
    font-size: 20px;
}