.techTitle {
    padding: 10px;
}

.techIntro {
    margin-bottom: 50px;
    font-size: 20px;
}

.logos {
    width:100px;
    height:auto;
    padding: 8px 20px;
}

.descBlock {
    padding: 80px 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descBlock1 {
    background-color: aliceblue;
}

.descBlock2 {
    background-color: beige;
}

.descBlock3 {
    background-color: wheat;
}

.descInfo{
    width: 350px;
    margin: 20px 40px;
}